[init]
	defaultBranch = master
[merge]
	conflictStyle = diff3
[merge "mergiraf"]
	name = mergiraf
	driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P -l %L
[core]
	attributesfile = /Users/legolas/.gitattributes
[diff]
  external = difft
[difftool]
  prompt = false
[pager]
  difftool = true
[diff]
  tool = difftastic
[fetch]
	pruneTags = true
[git-town]
	main-branch = master
	sync-feature-strategy = rebase
[rebase]
	updateRefs = true
